# MySQL Database Connection URL
DATABASE_URL="mysql://root:password@localhost:3306/imhs_db"

# NextAuth Secret for JWT Encryption (Generate with: openssl rand -base64 32)
NEXTAUTH_SECRET="your-32-character-secret-key-here"

# NextAuth Base URL
NEXTAUTH_URL="http://localhost:3000"

# WhatsApp Administrative Contact Number
NEXT_PUBLIC_WHATSAPP_NUMBER="+94778025050"
